gradient(direction = 'vertical', from, to, width = 1, height = 100)
  gradient_image = gradient_image(direction, from, to, width, height)
  background-image gradient_image
  background-image gradient_image, -webkit-gradient(linear, left top, left bottom, from(from), to(to))
  background-image gradient_image, -webkit-linear-gradient(top, from, to)
  background-image gradient_image, -moz-linear-gradient(top, from, to)
  background-image gradient_image, -ms-linear-gradient(top, from, to)
  background-image gradient_image, -o-linear-gradient(top, from, to)
  background-image gradient_image, linear-gradient(top, from, to)
  
