@import 'experimental'

transition()
  experimental('transition', arguments)

transition-property()
  experimental('transition-property', arguments)

transition-duration()
  experimental('transition-duration', arguments)

transition-timing-function()
  experimental('transition-timing-function', arguments)

